In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.665398  0.432452
1    a  two -1.243659 -0.838807
2    b  one -0.162354  1.100734
3    b  two  0.491008 -0.884214
4    a  one  2.178735  1.341615

In [2]:
df1 = df.set_index(keys=['key1','key2'])
df1

              data1     data2
key1 key2
a    one   1.665398  0.432452
     two  -1.243659 -0.838807
b    one  -0.162354  1.100734
     two   0.491008 -0.884214
a    one   2.178735  1.341615