In [44]:
p1 = {'name':'kile2002',
    'age':46,
    'city':'Taipei'}
p1

{'name': 'kile2002', 'age': 46, 'city': 'Taipei'}

In [45]:
p1

{'name': 'kile2002', 'age': 46, 'city': 'Taipei'}

In [46]:
del p1['city']
p1.pop('age')

46

In [47]:
p1 = {'name':'kile2002',
    'age':46,
    'city':'Taipei'}
p1

{'name': 'kile2002', 'age': 46, 'city': 'Taipei'}

In [48]:
print(p1['name'])
print(p1.get('age'))

kile2002
46

In [49]:
numbers = [1, 2, 3, 4, 5] #使用符號建立
mixed_list = [1, "Hello",3.14, True] #元素值可以不同資料類型
empty_list = []
list_from_range = list(range(10,21))
list_from_range

#list的操作
list_from_range[10] #subscript

20

In [50]:
fruits = ['蘋', '蕉', '橘']
for fruit in fruits:
    print(fruit)

蘋
蕉
橘

In [51]:
for index,fruit in enumerate(fruits):
    print(index, fruit,sep='->')
    print("==========");

0->蘋
==========
1->蕉
==========
2->橘
==========

In [52]:
taiwan_cities = {
    'Taipei': '台北',
    'New Taipei': '新北',
    'Taoyuan': '桃園',
    'Taichung': '台中',
    'Tainan': '台南',
    'Kaohsiung': '高雄',
    'Keelung': '基隆',
    'Hsinchu': '新竹',
    'Chiayi': '嘉義'
}
taiwan_cities

{'Taipei': '台北',
 'New Taipei': '新北',
 'Taoyuan': '桃園',
 'Taichung': '台中',
 'Tainan': '台南',
 'Kaohsiung': '高雄',
 'Keelung': '基隆',
 'Hsinchu': '新竹',
 'Chiayi': '嘉義'}

In [53]:
for value in taiwan_cities.values():
    print(value)

台北
新北
桃園
台中
台南
高雄
基隆
新竹
嘉義

In [57]:
import random
students = []
for i in range(1,51):
    students.append(
        {
            'name':f'student{i}',
            'chinese':random.randint(50,100),
            'english':random.randint(50,100),
            'math':random.randint(50,100),
            'history':random.randint(50,100),
            'health':random.randint(50,100)
        }
    )

students_str = str(students)
students_str

"[{'name': 'student1', 'chinese': 75, 'english': 75, 'math': 67, 'history': 84, 'health': 60}, {'name': 'student2', 'chinese': 96, 'english': 92, 'math': 72, 'history': 82, 'health': 78}, {'name': 'student3', 'chinese': 93, 'english': 96, 'math': 61, 'history': 84, 'health': 59}, {'name': 'student4', 'chinese': 61, 'english': 51, 'math': 61, 'history': 84, 'health': 86}, {'name': 'student5', 'chinese': 71, 'english': 86, 'math': 57, 'history': 92, 'health': 100}, {'name': 'student6', 'chinese': 51, 'english': 96, 'math': 62, 'history': 77, 'health': 91}, {'name': 'student7', 'chinese': 86, 'english': 59, 'math': 89, 'history': 62, 'health': 80}, {'name': 'student8', 'chinese': 63, 'english': 65, 'math': 66, 'history': 98, 'health': 64}, {'name': 'student9', 'chinese': 78, 'english': 56, 'math': 82, 'history': 97, 'health': 91}, {'name': 'student10', 'chinese': 50, 'english': 90, 'math': 80, 'history': 94, 'health': 62}, {'name': 'student11', 'chinese': 67, 'english': 52, 'math': 76, 'history': 78, 'health': 68}, {'name': 'student12', 'chinese': 69, 'english': 85, 'math': 78, 'history': 91, 'health': 76}, {'name': 'student13', 'chinese': 86, 'english': 51, 'math': 78, 'history': 81, 'health': 94}, {'name': 'student14', 'chinese': 51, 'english': 74, 'math': 52, 'history': 72, 'health': 80}, {'name': 'student15', 'chinese': 91, 'english': 98, 'math': 99, 'history': 84, 'health': 78}, {'name': 'student16', 'chinese': 73, 'english': 57, 'math': 84, 'history': 89, 'health': 90}, {'name': 'student17', 'chinese': 73, 'english': 100, 'math': 59, 'history': 92, 'health': 89}, {'name': 'student18', 'chinese': 96, 'english': 82, 'math': 60, 'history': 100, 'health': 51}, {'name': 'student19', 'chinese': 79, 'english': 92, 'math': 53, 'history': 100, 'health': 64}, {'name': 'student20', 'chinese': 87, 'english': 86, 'math': 55, 'history': 80, 'health': 67}, {'name': 'student21', 'chinese': 72, 'english': 79, 'math': 87, 'history': 59, 'health': 64}, {'name': 'student22', 'chinese': 65, 'english': 54, 'math': 93, 'history': 89, 'health': 100}, {'name': 'student23', 'chinese': 71, 'english': 91, 'math': 55, 'history': 89, 'health': 83}, {'name': 'student24', 'chinese': 76, 'english': 72, 'math': 82, 'history': 98, 'health': 87}, {'name': 'student25', 'chinese': 68, 'english': 69, 'math': 78, 'history': 93, 'health': 63}, {'name': 'student26', 'chinese': 66, 'english': 71, 'math': 74, 'history': 88, 'health': 59}, {'name': 'student27', 'chinese': 75, 'english': 51, 'math': 71, 'history': 72, 'health': 53}, {'name': 'student28', 'chinese': 83, 'english': 75, 'math': 61, 'history': 89, 'health': 70}, {'name': 'student29', 'chinese': 83, 'english': 71, 'math': 83, 'history': 95, 'health': 78}, {'name': 'student30', 'chinese': 87, 'english': 72, 'math': 100, 'history': 83, 'health': 96}, {'name': 'student31', 'chinese': 76, 'english': 55, 'math': 99, 'history': 64, 'health': 74}, {'name': 'student32', 'chinese': 91, 'english': 90, 'math': 83, 'history': 62, 'health': 81}, {'name': 'student33', 'chinese': 76, 'english': 59, 'math': 62, 'history': 78, 'health': 68}, {'name': 'student34', 'chinese': 67, 'english': 95, 'math': 79, 'history': 88, 'health': 73}, {'name': 'student35', 'chinese': 57, 'english': 74, 'math': 64, 'history': 65, 'health': 95}, {'name': 'student36', 'chinese': 78, 'english': 60, 'math': 71, 'history': 98, 'health': 97}, {'name': 'student37', 'chinese': 86, 'english': 68, 'math': 58, 'history': 63, 'health': 59}, {'name': 'student38', 'chinese': 87, 'english': 76, 'math': 54, 'history': 53, 'health': 97}, {'name': 'student39', 'chinese': 66, 'english': 50, 'math': 84, 'history': 56, 'health': 65}, {'name': 'student40', 'chinese': 69, 'english': 92, 'math': 64, 'history': 93, 'health': 69}, {'name': 'student41', 'chinese': 71, 'english': 81, 'math': 57, 'history': 75, 'health': 74}, {'name': 'student42', 'chinese': 78, 'english': 57, 'math': 50, 'history': 81, 'health': 55}, {'name': 'student43', 'chinese': 58, 'english': 82, 'math': 51, 'history': 57, 'health': 53}, {'name': 'student44', 'chinese': 61, 'english': 65, 'math': 96, 'history': 76, 'health': 95}, {'name': 'student45', 'chinese': 86, 'english': 62, 'math': 71, 'history': 66, 'health': 91}, {'name': 'student46', 'chinese': 99, 'english': 52, 'math': 73, 'history': 80, 'health': 88}, {'name': 'student47', 'chinese': 83, 'english': 56, 'math': 55, 'history': 52, 'health': 87}, {'name': 'student48', 'chinese': 66, 'english': 88, 'math': 73, 'history': 71, 'health': 69}, {'name': 'student49', 'chinese': 80, 'english': 62, 'math': 71, 'history': 74, 'health': 94}, {'name': 'student50', 'chinese': 72, 'english': 74, 'math': 85, 'history': 68, 'health': 95}]"

In [58]:
for scores in students:
    print(scores)

{'name': 'student1', 'chinese': 75, 'english': 75, 'math': 67, 'history': 84, 'health': 60}
{'name': 'student2', 'chinese': 96, 'english': 92, 'math': 72, 'history': 82, 'health': 78}
{'name': 'student3', 'chinese': 93, 'english': 96, 'math': 61, 'history': 84, 'health': 59}
{'name': 'student4', 'chinese': 61, 'english': 51, 'math': 61, 'history': 84, 'health': 86}
{'name': 'student5', 'chinese': 71, 'english': 86, 'math': 57, 'history': 92, 'health': 100}
{'name': 'student6', 'chinese': 51, 'english': 96, 'math': 62, 'history': 77, 'health': 91}
{'name': 'student7', 'chinese': 86, 'english': 59, 'math': 89, 'history': 62, 'health': 80}
{'name': 'student8', 'chinese': 63, 'english': 65, 'math': 66, 'history': 98, 'health': 64}
{'name': 'student9', 'chinese': 78, 'english': 56, 'math': 82, 'history': 97, 'health': 91}
{'name': 'student10', 'chinese': 50, 'english': 90, 'math': 80, 'history': 94, 'health': 62}
{'name': 'student11', 'chinese': 67, 'english': 52, 'math': 76, 'history': 78, 'health': 68}
{'name': 'student12', 'chinese': 69, 'english': 85, 'math': 78, 'history': 91, 'health': 76}
{'name': 'student13', 'chinese': 86, 'english': 51, 'math': 78, 'history': 81, 'health': 94}
{'name': 'student14', 'chinese': 51, 'english': 74, 'math': 52, 'history': 72, 'health': 80}
{'name': 'student15', 'chinese': 91, 'english': 98, 'math': 99, 'history': 84, 'health': 78}
{'name': 'student16', 'chinese': 73, 'english': 57, 'math': 84, 'history': 89, 'health': 90}
{'name': 'student17', 'chinese': 73, 'english': 100, 'math': 59, 'history': 92, 'health': 89}
{'name': 'student18', 'chinese': 96, 'english': 82, 'math': 60, 'history': 100, 'health': 51}
{'name': 'student19', 'chinese': 79, 'english': 92, 'math': 53, 'history': 100, 'health': 64}
{'name': 'student20', 'chinese': 87, 'english': 86, 'math': 55, 'history': 80, 'health': 67}
{'name': 'student21', 'chinese': 72, 'english': 79, 'math': 87, 'history': 59, 'health': 64}
{'name': 'student22', 'chinese': 65, 'english': 54, 'math': 93, 'history': 89, 'health': 100}
{'name': 'student23', 'chinese': 71, 'english': 91, 'math': 55, 'history': 89, 'health': 83}
{'name': 'student24', 'chinese': 76, 'english': 72, 'math': 82, 'history': 98, 'health': 87}
{'name': 'student25', 'chinese': 68, 'english': 69, 'math': 78, 'history': 93, 'health': 63}
{'name': 'student26', 'chinese': 66, 'english': 71, 'math': 74, 'history': 88, 'health': 59}
{'name': 'student27', 'chinese': 75, 'english': 51, 'math': 71, 'history': 72, 'health': 53}
{'name': 'student28', 'chinese': 83, 'english': 75, 'math': 61, 'history': 89, 'health': 70}
{'name': 'student29', 'chinese': 83, 'english': 71, 'math': 83, 'history': 95, 'health': 78}
{'name': 'student30', 'chinese': 87, 'english': 72, 'math': 100, 'history': 83, 'health': 96}
{'name': 'student31', 'chinese': 76, 'english': 55, 'math': 99, 'history': 64, 'health': 74}
{'name': 'student32', 'chinese': 91, 'english': 90, 'math': 83, 'history': 62, 'health': 81}
{'name': 'student33', 'chinese': 76, 'english': 59, 'math': 62, 'history': 78, 'health': 68}
{'name': 'student34', 'chinese': 67, 'english': 95, 'math': 79, 'history': 88, 'health': 73}
{'name': 'student35', 'chinese': 57, 'english': 74, 'math': 64, 'history': 65, 'health': 95}
{'name': 'student36', 'chinese': 78, 'english': 60, 'math': 71, 'history': 98, 'health': 97}
{'name': 'student37', 'chinese': 86, 'english': 68, 'math': 58, 'history': 63, 'health': 59}
{'name': 'student38', 'chinese': 87, 'english': 76, 'math': 54, 'history': 53, 'health': 97}
{'name': 'student39', 'chinese': 66, 'english': 50, 'math': 84, 'history': 56, 'health': 65}
{'name': 'student40', 'chinese': 69, 'english': 92, 'math': 64, 'history': 93, 'health': 69}
{'name': 'student41', 'chinese': 71, 'english': 81, 'math': 57, 'history': 75, 'health': 74}
{'name': 'student42', 'chinese': 78, 'english': 57, 'math': 50, 'history': 81, 'health': 55}
{'name': 'student43', 'chinese': 58, 'english': 82, 'math': 51, 'history': 57, 'health': 53}
{'name': 'student44', 'chinese': 61, 'english': 65, 'math': 96, 'history': 76, 'health': 95}
{'name': 'student45', 'chinese': 86, 'english': 62, 'math': 71, 'history': 66, 'health': 91}
{'name': 'student46', 'chinese': 99, 'english': 52, 'math': 73, 'history': 80, 'health': 88}
{'name': 'student47', 'chinese': 83, 'english': 56, 'math': 55, 'history': 52, 'health': 87}
{'name': 'student48', 'chinese': 66, 'english': 88, 'math': 73, 'history': 71, 'health': 69}
{'name': 'student49', 'chinese': 80, 'english': 62, 'math': 71, 'history': 74, 'health': 94}
{'name': 'student50', 'chinese': 72, 'english': 74, 'math': 85, 'history': 68, 'health': 95}

In [59]:
# 將 students 列表轉換為字串
students_str = '\n'.join([
    f"姓名:{student['name']}, "
    f"國文:{student['chinese']}, "
    f"英文:{student['english']}, "
    f"數學:{student['math']}, "
    f"歷史:{student['history']}, "
    f"健康:{student['health']}"
    for student in students
])

print(students_str)

姓名:student1, 國文:75, 英文:75, 數學:67, 歷史:84, 健康:60
姓名:student2, 國文:96, 英文:92, 數學:72, 歷史:82, 健康:78
姓名:student3, 國文:93, 英文:96, 數學:61, 歷史:84, 健康:59
姓名:student4, 國文:61, 英文:51, 數學:61, 歷史:84, 健康:86
姓名:student5, 國文:71, 英文:86, 數學:57, 歷史:92, 健康:100
姓名:student6, 國文:51, 英文:96, 數學:62, 歷史:77, 健康:91
姓名:student7, 國文:86, 英文:59, 數學:89, 歷史:62, 健康:80
姓名:student8, 國文:63, 英文:65, 數學:66, 歷史:98, 健康:64
姓名:student9, 國文:78, 英文:56, 數學:82, 歷史:97, 健康:91
姓名:student10, 國文:50, 英文:90, 數學:80, 歷史:94, 健康:62
姓名:student11, 國文:67, 英文:52, 數學:76, 歷史:78, 健康:68
姓名:student12, 國文:69, 英文:85, 數學:78, 歷史:91, 健康:76
姓名:student13, 國文:86, 英文:51, 數學:78, 歷史:81, 健康:94
姓名:student14, 國文:51, 英文:74, 數學:52, 歷史:72, 健康:80
姓名:student15, 國文:91, 英文:98, 數學:99, 歷史:84, 健康:78
姓名:student16, 國文:73, 英文:57, 數學:84, 歷史:89, 健康:90
姓名:student17, 國文:73, 英文:100, 數學:59, 歷史:92, 健康:89
姓名:student18, 國文:96, 英文:82, 數學:60, 歷史:100, 健康:51
姓名:student19, 國文:79, 英文:92, 數學:53, 歷史:100, 健康:64
姓名:student20, 國文:87, 英文:86, 數學:55, 歷史:80, 健康:67
姓名:student21, 國文:72, 英文:79, 數學:87, 歷史:59, 健康:64
姓名:student22, 國文:65, 英文:54, 數學:93, 歷史:89, 健康:100
姓名:student23, 國文:71, 英文:91, 數學:55, 歷史:89, 健康:83
姓名:student24, 國文:76, 英文:72, 數學:82, 歷史:98, 健康:87
姓名:student25, 國文:68, 英文:69, 數學:78, 歷史:93, 健康:63
姓名:student26, 國文:66, 英文:71, 數學:74, 歷史:88, 健康:59
姓名:student27, 國文:75, 英文:51, 數學:71, 歷史:72, 健康:53
姓名:student28, 國文:83, 英文:75, 數學:61, 歷史:89, 健康:70
姓名:student29, 國文:83, 英文:71, 數學:83, 歷史:95, 健康:78
姓名:student30, 國文:87, 英文:72, 數學:100, 歷史:83, 健康:96
姓名:student31, 國文:76, 英文:55, 數學:99, 歷史:64, 健康:74
姓名:student32, 國文:91, 英文:90, 數學:83, 歷史:62, 健康:81
姓名:student33, 國文:76, 英文:59, 數學:62, 歷史:78, 健康:68
姓名:student34, 國文:67, 英文:95, 數學:79, 歷史:88, 健康:73
姓名:student35, 國文:57, 英文:74, 數學:64, 歷史:65, 健康:95
姓名:student36, 國文:78, 英文:60, 數學:71, 歷史:98, 健康:97
姓名:student37, 國文:86, 英文:68, 數學:58, 歷史:63, 健康:59
姓名:student38, 國文:87, 英文:76, 數學:54, 歷史:53, 健康:97
姓名:student39, 國文:66, 英文:50, 數學:84, 歷史:56, 健康:65
姓名:student40, 國文:69, 英文:92, 數學:64, 歷史:93, 健康:69
姓名:student41, 國文:71, 英文:81, 數學:57, 歷史:75, 健康:74
姓名:student42, 國文:78, 英文:57, 數學:50, 歷史:81, 健康:55
姓名:student43, 國文:58, 英文:82, 數學:51, 歷史:57, 健康:53
姓名:student44, 國文:61, 英文:65, 數學:96, 歷史:76, 健康:95
姓名:student45, 國文:86, 英文:62, 數學:71, 歷史:66, 健康:91
姓名:student46, 國文:99, 英文:52, 數學:73, 歷史:80, 健康:88
姓名:student47, 國文:83, 英文:56, 數學:55, 歷史:52, 健康:87
姓名:student48, 國文:66, 英文:88, 數學:73, 歷史:71, 健康:69
姓名:student49, 國文:80, 英文:62, 數學:71, 歷史:74, 健康:94
姓名:student50, 國文:72, 英文:74, 數學:85, 歷史:68, 健康:95

In [61]:
print(students_str, file=open('students.txt', mode='w', encoding='utf-8'))